@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);

    background-size: 300%;
    background-position: 0 0;
    animation: tatu 30s infinite ease-in-out;
}


h1 {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.container {
    width: 500px;
    height: auto;
    border: 10px thick red;
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 0 45px #00000077;

    overflow-y: scroll;
    max-height: 80vh;
}

.container::-webkit-scrollbar {
    width: 5px;
}

.container::-webkit-scrollbar-thumb {
    background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
    border-radius: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 3px;
    border-radius: 10px;
    width: 100%;
}


.input-box label::after {
    content: ' *';
    color: red;
}

.input-box input, select {
    border-radius: 7px;
    width: 100%;
    height: 25px;
    padding: 3px 0px 3px 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 1px #000000be;
}

select {
    height: 30px;
    width: 101.3%;
}

.input-box input:hover {
    box-shadow: 0 0 5px 1px black;
}

.input {
    width: 100%;
    position: relative;
}

.input i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    right: -5px;
    width: 40px;
    height: 100%;
    border-radius: 0 7px 7px 0;
}


button {
    padding: 7px 16px;
    margin-top: 4px;
    border-radius: 5px;
}

.btn {
    display: flex;
    gap: 7px;
    justify-content: center;
}

button:hover {
    background-color: rgb(231, 229, 74);
    cursor: pointer;
}

.account {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.showPassword {
    margin-left: 5px;
}

/* animação */

@keyframes tatu {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 0 100%;
    }
    75% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
